In [14]:
import pandas as pd 
import numpy as np
import datetime

In [77]:
referrals= pd.read_csv('/Users/danielle.arneson/Desktop/referral3.csv')
goals = pd.read_csv('/Users/danielle.arneson/Desktop/goal_vs_referral.csv')
survey = pd.read_csv('/Users/danielle.arneson/Desktop/70721survey.csv')

In [78]:
referrals.head()

,Goal Record ID,Weekly Coaching Engagement Unique ID,External Participant Id,Date of Engagement,3rd Party Referrals,national_referral,Aduro_resource,external_resource,Coach Mentor
0,20210323-2064596,E-20210601-5708476,1a082044-6e3e-4fb0-8747-7915fdfea0c1,6/1/21,NaN,NaN,Path/Mini Path,NaN,Coach Ari. D
1,20210115-2021998,E-20210607-5713774,9abf6775-6982-49da-a2ac-ef771da6be55,6/7/21,NaN,NaN,Path/Mini Path,NaN,Coach Ari. D
2,20210511-2086336,E-20210614-5720165,bdcf1ff1-3500-4867-bf49-34c8b209f2e0,6/14/21,NaN,NaN,Path/Mini Path,NaN,Coach Ari. D
3,20210503-2083404,E-20210615-5720845,63eb122d-7652-479b-8a79-ae037bae4e30,6/15/21,NaN,NaN,Path/Mini Path,NaN,Coach Ari. D
4,20210614-2096196,E-20210616-5721999,967d3e75-66c9-46ae-9e93-a54c59c0ba88,6/16/21,NaN,NaN,Path/Mini Path,NaN,Coach Ari. D

In [79]:
goals.head()

,Contact: Full Name,Contact Email Address,Created Date,External Participant Id,Goal Record ID,Overall Goal Status,Total Engagement,Total Received Engagements,Program: Program Name,Start Date,Coach Mentor,Goal Name
0,Tina Hart,tina.hart@us.abb.com,4/21/21,ea27a2cc-941d-41ab-bdeb-960732c03e68,20210421-2078678,No Action,0.0,0.0,ABB 2021,4/8/21,NaN,"Ignite Your Life Savings 101 Thu, Apr 8 2021"
1,Tina Hart,tina.hart@us.abb.com,4/21/21,ea27a2cc-941d-41ab-bdeb-960732c03e68,20210421-2078680,No Action,0.0,0.0,ABB 2021,4/5/21,NaN,"Ignite Your Life Be a Change Maker Mon, Apr 5 ..."
2,Sherry Willis,sherry.willis05@gmail.com,4/21/21,d5ca5a8a-4d8d-4435-ad8f-1a270764e0eb,20210421-2078685,Partially Complete,4.0,4.0,ABB 2021,4/9/21,NaN,"Ignite Your Life Dream Big Fri, Apr 9 2021"
3,JOHN KIRBY,johna.kirby@us.abb.xom,4/21/21,a6456e96-84a1-43be-87c5-18316f5420be,20210421-2078743,No Action,0.0,0.0,ABB 2021,4/6/21,NaN,"Ignite Your Life Budget Basics Tue, Apr 6 2021"
4,JOHN KIRBY,johna.kirby@us.abb.xom,4/21/21,a6456e96-84a1-43be-87c5-18316f5420be,20210421-2078745,No Action,0.0,0.0,ABB 2021,4/9/21,NaN,"Ignite Your Life Dream Big Fri, Apr 9 2021"

In [80]:
goals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10042 entries, 0 to 10041
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Contact: Full Name          10041 non-null  object
 1   Contact Email Address       9793 non-null   object
 2   Created Date                10036 non-null  object
 3   External Participant Id     10026 non-null  object
 4   Goal Record ID              10036 non-null  object
 5   Overall Goal Status         10036 non-null  object
 6   Total Engagement            10036 non-null  float64
 7   Total Received Engagements  10036 non-null  float64
 8   Program: Program Name       10036 non-null  object
 9   Start Date                  10036 non-null  object
 10  Coach Mentor                1 non-null      object
 11  Goal Name                   10036 non-null  object
dtypes: float64(2), object(10)
memory usage: 941.6+ KB

In [81]:
merged = pd.merge(goals, referrals,how='inner', on=['External Participant Id'])
merged.head()

,Contact: Full Name,Contact Email Address,Created Date,External Participant Id,Goal Record ID_x,Overall Goal Status,Total Engagement,Total Received Engagements,Program: Program Name,Start Date,Coach Mentor_x,Goal Name,Goal Record ID_y,Weekly Coaching Engagement Unique ID,Date of Engagement,3rd Party Referrals,national_referral,Aduro_resource,external_resource,Coach Mentor_y
0,Kevin Anthony,kanthony9520@sbcglobal.net,5/19/21,5e533efe-80b6-4dba-8a46-f4afbdf8b5c2,20210519-2089289,In Progress,2.0,2.0,Bayer 2021,5/18/21,NaN,Ignite Your Life Effective Listening Skills Tu...,20210519-2089295,E-20210524-5703713,5/24/21,NaN,NaN,Path/Mini Path,NaN,Coach Jaxon S.
1,Chandra Pradhan,chandra_pradhan@bshsi.org,5/3/21,63eb122d-7652-479b-8a79-ae037bae4e30,20210503-2083401,Partially Complete,1.0,0.0,BeWellWithinA 2021a,4/9/21,NaN,"Ignite Your Life Change Your Habits Fri, Apr 9...",20210503-2083404,E-20210615-5720845,6/15/21,NaN,NaN,Path/Mini Path,NaN,Coach Ari. D
2,Zachary Parker,zach.parker@busey.com,6/16/21,NaN,20210616-2096596,In Progress,3.0,2.0,Busey Bank 2021,5/19/21,NaN,"Ignite Your Life Mood & Food Wed, May 19 2021",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Zachary Parker,zach.parker@busey.com,6/16/21,NaN,20210616-2096596,In Progress,3.0,2.0,Busey Bank 2021,5/19/21,NaN,"Ignite Your Life Mood & Food Wed, May 19 2021",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Zachary Parker,zach.parker@busey.com,6/16/21,NaN,20210616-2096596,In Progress,3.0,2.0,Busey Bank 2021,5/19/21,NaN,"Ignite Your Life Mood & Food Wed, May 19 2021",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 141 entries, 0 to 140
Data columns (total 20 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Contact: Full Name                    135 non-null    object
 1   Contact Email Address                 87 non-null     object
 2   Created Date                          105 non-null    object
 3   External Participant Id               45 non-null     object
 4   Goal Record ID_x                      105 non-null    object
 5   Overall Goal Status                   105 non-null    object
 6   Total Engagement                      105 non-null    float64
 7   Total Received Engagements            105 non-null    float64
 8   Program: Program Name                 105 non-null    object
 9   Start Date                            105 non-null    object
 10  Coach Mentor_x                        0 non-null      object
 11  Goal Name                             105 non-null    object
 12  Goal Record ID_y                      45 non-null     object
 13  Weekly Coaching Engagement Unique ID  45 non-null     object
 14  Date of Engagement                    45 non-null     object
 15  3rd Party Referrals                   1 non-null      object
 16  national_referral                     0 non-null      float64
 17  Aduro_resource                        45 non-null     object
 18  external_resource                     0 non-null      object
 19  Coach Mentor_y                        45 non-null     object
dtypes: float64(3), object(17)
memory usage: 23.1+ KB

In [83]:
itworked=merged[merged['Created Date'] > merged['Date of Engagement']]

In [84]:
itworked.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 108 to 138
Data columns (total 20 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Contact: Full Name                    4 non-null      object
 1   Contact Email Address                 4 non-null      object
 2   Created Date                          4 non-null      object
 3   External Participant Id               4 non-null      object
 4   Goal Record ID_x                      4 non-null      object
 5   Overall Goal Status                   4 non-null      object
 6   Total Engagement                      4 non-null      float64
 7   Total Received Engagements            4 non-null      float64
 8   Program: Program Name                 4 non-null      object
 9   Start Date                            4 non-null      object
 10  Coach Mentor_x                        0 non-null      object
 11  Goal Name                             4 non-null      object
 12  Goal Record ID_y                      4 non-null      object
 13  Weekly Coaching Engagement Unique ID  4 non-null      object
 14  Date of Engagement                    4 non-null      object
 15  3rd Party Referrals                   0 non-null      object
 16  national_referral                     0 non-null      float64
 17  Aduro_resource                        4 non-null      object
 18  external_resource                     0 non-null      object
 19  Coach Mentor_y                        4 non-null      object
dtypes: float64(3), object(17)
memory usage: 672.0+ bytes

In [85]:
itworked2=merged[merged['Date of Engagement'] < merged['Created Date']]

In [86]:
itworked2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 108 to 138
Data columns (total 20 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Contact: Full Name                    4 non-null      object
 1   Contact Email Address                 4 non-null      object
 2   Created Date                          4 non-null      object
 3   External Participant Id               4 non-null      object
 4   Goal Record ID_x                      4 non-null      object
 5   Overall Goal Status                   4 non-null      object
 6   Total Engagement                      4 non-null      float64
 7   Total Received Engagements            4 non-null      float64
 8   Program: Program Name                 4 non-null      object
 9   Start Date                            4 non-null      object
 10  Coach Mentor_x                        0 non-null      object
 11  Goal Name                             4 non-null      object
 12  Goal Record ID_y                      4 non-null      object
 13  Weekly Coaching Engagement Unique ID  4 non-null      object
 14  Date of Engagement                    4 non-null      object
 15  3rd Party Referrals                   0 non-null      object
 16  national_referral                     0 non-null      float64
 17  Aduro_resource                        4 non-null      object
 18  external_resource                     0 non-null      object
 19  Coach Mentor_y                        4 non-null      object
dtypes: float64(3), object(17)
memory usage: 672.0+ bytes

In [87]:
itworked2['Overall Goal Status'].unique()

array(['Registration Phase', 'No Action', 'In Progress'], dtype=object)

In [88]:
itworked2['Overall Goal Status'].value_counts()

In Progress           2
No Action             1
Registration Phase    1
Name: Overall Goal Status, dtype: int64

In [89]:
survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5794 entries, 0 to 5793
Data columns (total 24 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   User Progress Id              5794 non-null   int64
 1   Survey Id                     5794 non-null   int64
 2   Survey Title                  5794 non-null   object
 3   Language                      0 non-null      float64
 4   Mode                          5344 non-null   object
 5   Wave Start Date               5794 non-null   object
 6   Wave End Date                 5794 non-null   object
 7   Status                        5794 non-null   object
 8   Participant Id                0 non-null      float64
 9   Publish Id                    5794 non-null   int64
 10  Instance                      5794 non-null   int64
 11  User Id                       5794 non-null   int64
 12  Contact Id                    5794 non-null   object
 13  External Participant Id       5793 non-null   object
 14  Employer Id                   1565 non-null   object
 15  Start Date Time Stamp         5794 non-null   object
 16  End Date Time Stamp           5325 non-null   object
 17  CoachingConfidence            5344 non-null   float64
 18  CoachingMotivation            5338 non-null   float64
 19  CMLFlourishOverallSatisfied   5336 non-null   float64
 20  CMLFlourishHappy              5336 non-null   float64
 21  CoachingHabitsGoalsAlignment  5333 non-null   object
 22  CoachingSatisfaction          5333 non-null   object
 23  CoachingFeedback              2138 non-null   object
dtypes: float64(6), int64(5), object(13)
memory usage: 1.1+ MB

In [90]:
merged2 = pd.merge(survey, referrals,how='inner', on=['External Participant Id'])
merged2.head()

,User Progress Id,Survey Id,Survey Title,Language,Mode,Wave Start Date,Wave End Date,Status,Participant Id,Publish Id,...,CoachingSatisfaction,CoachingFeedback,Goal Record ID,Weekly Coaching Engagement Unique ID,Date of Engagement,3rd Party Referrals,national_referral,Aduro_resource,external_resource,Coach Mentor
0,3031512,1616,1:1 Coaching survey,NaN,WEB,2021-01-28 08:00:00,2051-01-28 08:00:00,Completed,NaN,1616,...,Very Satisfied,"I like that whatever topic I bring up, Coach K...",20210430-2082433,E-20210603-5711072,6/3/21,NaN,NaN,Path/Mini Path,NaN,Coach Kenzie B.
1,3059859,1616,1:1 Coaching survey,NaN,WEB,2021-01-28 08:00:00,2051-01-28 08:00:00,Completed,NaN,1616,...,Very Satisfied,Coach Kenzie B does a good job listening and b...,20210430-2082433,E-20210603-5711072,6/3/21,NaN,NaN,Path/Mini Path,NaN,Coach Kenzie B.
2,3091518,1616,1:1 Coaching survey,NaN,WEB,2021-01-28 08:00:00,2051-01-28 08:00:00,Completed,NaN,1616,...,Very Satisfied,I like that the session adapts to what I need ...,20210430-2082433,E-20210603-5711072,6/3/21,NaN,NaN,Path/Mini Path,NaN,Coach Kenzie B.
3,3123076,1616,1:1 Coaching survey,NaN,WEB,2021-01-28 08:00:00,2051-01-28 08:00:00,Completed,NaN,1616,...,Very Satisfied,NaN,20210430-2082433,E-20210603-5711072,6/3/21,NaN,NaN,Path/Mini Path,NaN,Coach Kenzie B.
4,3140938,1616,1:1 Coaching survey,NaN,WEB,2021-01-28 08:00:00,2051-01-28 08:00:00,Completed,NaN,1616,...,Very Satisfied,NaN,20210430-2082433,E-20210603-5711072,6/3/21,NaN,NaN,Path/Mini Path,NaN,Coach Kenzie B.

In [91]:
merged2['CoachingConfidence'].mean()

8.566666666666666

In [92]:
merged2['CoachingMotivation'].mean()

8.947530864197532

In [93]:
referrals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 9 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Goal Record ID                        77 non-null     object
 1   Weekly Coaching Engagement Unique ID  77 non-null     object
 2   External Participant Id               77 non-null     object
 3   Date of Engagement                    77 non-null     object
 4   3rd Party Referrals                   1 non-null      object
 5   national_referral                     0 non-null      float64
 6   Aduro_resource                        77 non-null     object
 7   external_resource                     1 non-null      object
 8   Coach Mentor                          77 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.0+ KB